{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- <a class="navbar-brand" href="#">Logo</a> -->
    <img src="{% static 'images/logo.png' %}" alt="Logo Image">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Profile<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">Groups</a>
        <a class="nav-item nav-link" href="#">Workouts</a>
        <a class="nav-item nav-link" href="#">Friends</a>
        
      </div>
    </div>
  </nav>